<nav class="nav col-md-2 flex-column bg-light">
    <a class="nav-link" href="{{ url_for('site.sort_test') }}">Показать таблицу</a>
    <p>To Do выборка по категориям</p>
    <a class="nav-link" href="#">СМИ</a>
    <a class="nav-link" href="#">Спорт</a>
    <a class="nav-link" href="#">Музыка</a>
    <a class="nav-link" href="#">Развлечения</a>
    <p>Чекбоксы</p>
    <p>To Do</p>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input"  id="sort_yandex_sqi" name="example1" checked>
        <label class="custom-control-label" for="sort_yandex_sqi">ИКС</label>
    </div>  
    <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="sort_published_date" checked>
            <label class="custom-control-label" for="sort_published_date">Дата добавления</label>
    </div>
    <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="sort_update_date" checked>
            <label class="custom-control-label" for="sort_update_date">Дата обновления</label>
    </div>
    
    <p>Done</p>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="sort_registrar" checked>
        <label class="custom-control-label" for="sort_registrar">Регистратор</label>
    </div>
    <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="sort_domain_type" checked>
            <label class="custom-control-label" for="sort_domain_type">Тип домена</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input"  id="sort_title" checked>
        <label class="custom-control-label" for="sort_title">Заголовок</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="sort_domain_registration_date" checked>
        <label class="custom-control-label" for="sort_domain_registration_date">Домен зарегистрирован</label>
        </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="sort_domain_valid_date" checked>
        <label class="custom-control-label" for="sort_domain_valid_date">Домен действителен до</label>
    </div>

    <p>Отключено</p>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input"  id="sort_description" checked>
        <label class="custom-control-label" for="sort_description">Описание</label>
    </div>



</nav>

<!-- Скрипт для переключения колонок в таблице -->
<script>
    $(function(){
    $('#sort_description,#sort_yandex_sqi,#sort_domain,#sort_domain_registration_date,#sort_domain_valid_date,#sort_published_date,#sort_update_date,#sort_title,#sort_domain_type,#sort_registrar').click(function(){
        var idname = this.id;          
    if(this.checked == false) {
        $('.' + idname).addClass('d-none');
    } else {
        $('.' + idname).removeClass('d-none');   
    }
    });
    });
    </script>