<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <!-- Название -->
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">BYDomain</a>
    <!-- Строка поиска -->
    <form class="form-inline" method="POST" action="{{ url_for('site.search') }}">
        {{ signup_form.hidden_tag() }}
        <div>
          {{ search_form.request() }}
          {{ search_form.submit }}
        </div>     
    </form>
  
    <!-- Links -->
    <ul class="navbar-nav px-3">
      {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{ current_user.get_id() }}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('main.settings') }}">Настройки</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('user.logout') }}">Выйти</a>
          </div>
        </li>       
      {% else %} 
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.login') }}"  data-toggle="modal" data-target="#LoginModal">Войти</a>
        </li>    
      {% endif %}
    </ul>
  </nav>

