<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <button id="btn1" href="#flogin" class="btn btn-primary disabled">Войти</button>
            <button id="btn2" href="#fsignup" class="btn btn-primary" >Зарегистрироваться</button>             
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        <div class="modal-body">
          <!-- Форма входа -->
          <div id="flogin">
            <form class="form-signin" method="POST" action="{{ url_for('user.login') }}">      
                {{ login_form.hidden_tag() }}    
              <div class='form-label-group'>
                {{ login_form.username() }}
                {{ login_form.username.label }}
              </div>
              <div class='form-label-group'>
                {{ login_form.password() }}
                {{ login_form.password.label }}
              </div>         
                {{ login_form.submit }} 
              <div class="container"> 
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
              </div> 
            </form>
          </div>
          <!-- Форма регистрации -->
          <div id="fsignup" class="d-none">
            <form class="form-signin"  method="POST" action="{{ url_for('user.signup') }}">
              {{ signup_form.hidden_tag() }}
              <div class='form-label-group'>
                {{ signup_form.username() }}
                {{ signup_form.username.label }}
              </div>
              <div class='form-label-group'>     
                {{ signup_form.email() }}
                {{ signup_form.email.label }}
              </div>
              <div class='form-label-group'>
                {{ signup_form.password() }}
                {{ signup_form.password.label }}
              </div>
              <div class='form-label-group'>
                {{ signup_form.password2() }}
                {{ signup_form.password2.label }}
              </div>
              {{ signup_form.submit }}
              <div class="container"> 
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            </form>
          </div>
        </div>      
    </div>
  </div>
</div>

<!-- Скрипт для переключения статуса кнопки вход\регистрация -->
<script>
  $(function(){
  $('#btn1').click(function(){
    $('#btn1').addClass('disabled'); 
    $("#btn2").removeClass('disabled'); 
    $("#fsignup").addClass('d-none');
    $("#flogin").removeClass('d-none');
  });
  $('#btn2').click(function(){
    $('#btn2').addClass('disabled'); 
    $("#btn1").removeClass('disabled');
    $("#flogin").addClass('d-none');
    $("#fsignup").removeClass('d-none'); 
  });
});
</script>

